
*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


